<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="arkadasim in liste" v-bind:key="arkadasim" >
          {{arkadasim}}
          <input type="text" />
        </li>
        
        <li v-for="(arkadasim, i) in liste" >
        {{i}} {{arkadasim}}
      </li>
      
      <li v-for="(ozellik, key, index) in arkadasim">
        {{index}}
        {{key}}
        {{ozellik}}       
      </li>
    </ul>
    <button v-on:click='rasgeleliste'>rasgele liste</button>
  </div>
  <script src="./app.js" ></script>
</body>
</html>