<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        input[type=number] {
            width: 30px;
            height: 20px;;
        }
    </style>
</head>

<body>
    <div id="bahsisci">
        <span>hesap:</span>
        <span><input type="number" min="0" v-model="hesap" @input="onChange"></span>
        <br>
        <br>
        <span>bahsis yuzdesi</span>
        <span>
            <select v-model.number="secilen_bahsis_yuzdesi" @change="onChange">TL
                <option :value="yuzde" v-for="yuzde in bahsis_yuzdesi">
                    {{ yuzde }}
                </option>
            </select>
        </span>
    <p v-if="bahsis">
        bırakacağınız bahsis {{ bahsis }} TL
    </p>

    </div>
    <script src="./app.js"></script>
</body>

</html>